/* ---------- CUSTOM PROPERTIES --------------- */

:root {
  /* Add colors */
  --cl-header-bg: 0, 0%, 5%;
  --cl-main-bg: 0, 0%, 7%;
  --cl-text: 0, 0%, 100%;
  --cl-input-bg: 240, 1%, 18%;
  --cl-input-text: 0, 0%, 65%;
  --cl-btn-search-bg: 0, 0%, 29%;
  --cl-bottom-line: 220, 13%, 91%;
}

/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Set up body */
body {
  color: hsl(var(--cl-text));
  background-color: hsl(var(--cl-main-bg));
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

/* Make images easier to work with */
img {
  display: block;
  object-fit: cover;
}

/* ---------------- UTILITY CLASSES ------------------*/

.container {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
}

/* -------------- TYPOGRAPHY ------------------ */

h1 {
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 0.6;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.1;
}

p {
  font-size: 0.75rem;
  line-height: 1.6;
}

.movie__description {
  font-size: 0.875rem;
  line-height: 1.4;
}

/* --------------- LINKS ------------------- */

a {
  color: inherit;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.7;
  text-decoration: none;
}

/* ---------------- BUTTONS -------------------- */

button {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

.button--search {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.7;
  background-color: hsl(var(--cl-btn-search-bg));
  padding: 0.375rem 2.125rem 0.375rem 2.4375rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button--add {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-size: 0.75rem;
  line-height: 1.6;
}

/* ----------------- INPUTS -------------------- */

input {
  color: hsl(var(--cl-input-text));
  background-color: inherit;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.7;
  border: none;
}

.search-bar__input {
  display: flex;
  background-color: hsl(var(--cl-input-bg));
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
}

.input__icon {
  padding: 0.625rem 0.5rem 0.625rem 1rem;
}

/* ¨------------ IMAGES ------------------- */

.movie-card__poster {
  max-width: 6.25rem;
}

/* ------------- LAYOUT ------------------- */

.header__container {
  background-image: url("./images/header_bg.jpg");
  background-size: cover;
  background-position: 0px -10rem;
  background-color: hsl(var(--cl-header-bg));
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5.125rem 2.875rem 4.875rem 2.625rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -1.125rem 0 -1.125rem;
  padding: 0 2.75rem;
}

.movies__container {
  background-color: hsl(var(--cl-main-bg));
  padding: 1.375rem 2.75rem 0;
}

.movie-card {
  display: flex;
  padding: 24px 0;
  border-bottom: 1.5px solid hsl(var(--cl-bottom-line));
}

.movie-card__info {
  display: grid;
  padding: 0 1.375rem;
}

.info__grid-row-1,
.info__grid-row-2 {
  display: grid;
  grid-column: 1 / 3;
}

.info__grid-row-1 {
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
}

.info__grid-row-2 {
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.movie__description {
  grid-column: 1 / 4;
}
